@model IEnumerable<AgroExpress.DataLayer.Models.AnimalType>

@{

    ViewBag.Title = "Enabled Animal Type List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/ListStylesRuku.css" rel="stylesheet" />
<h2 id="title">Enabled Animal Type List</h2>

<p id="create">
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th id="table-header">
            @Html.DisplayNameFor(model => model.AnimalTypeName)
        </th>
        
        <th id="table-header">Operation</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="table-header">
                @Html.DisplayFor(modelItem => item.AnimalTypeName)
            </td>
      
            
            <td id="table-header">                
                @Html.ActionLink(
                       "Disable",
                       "Delete",
                       new { id = item.PKAnimalTypeId },
                       new { onclick = "return confirm('Are you sure you wish to disable this Animal Type?');" })
            </td>
        </tr>
    }

</table>

