
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
</head>
<body>
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow"> 501</h2>

                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
       
        <!-- /.content -->
    </div>
</body>
</html>
